@use 'variables' as *;
@use 'scrollbar' as *;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $mint-cream;
  h2 {
    color: $imperial-red;
  }
  .wrapper {
    position: relative;
    background-color: $cool-grey;
    height: 75vh;
    min-height: 20em;
    margin: 1em;
    border-radius: 20px;
    width: clamp(350px, 50vw, 550px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(25, 25, 25, 0.486);
    font-size: 1.3em;
    .zipping {
      text-align: center;
      margin: 1em;
      progressbar {
        margin-inline: auto;
        width: 80%;
      }
    }
    header {
      position: relative;
      padding: .5rem .5rem .25rem;
      border-bottom: 2px solid $liberty;
      width: 100%;
      text-align: center;
    }
    main {
      position: relative;
      flex-grow: 1;
      min-height: 5em;
      width: 100%;
      max-height: calc(100% - 5px - 1.3em - .75rem - 3em - 2px);
      ol {
        height: 100%;
        overflow: auto;
        @include scrollBar(.3em);
        li {
          width: calc(100% - 1em);
          padding-bottom: 0.35rem;
        }
        li:not(li:last-child) {
          border-bottom: 2px solid $imperial-red;
        }
      }
    }
    footer {
      z-index: 1;
      position: absolute;
      display: flex;
      align-items: center;
      height: 3em;
      justify-content: center;
      width: 100%;
      bottom: 0;
      border-top: 2px solid $liberty;
    }
    .spinner-border {
      margin: auto 0;
      height: 3em;
      width: 3em;
    }
  }
}
