@use 'variables' as *;
:host {
    position: absolute;
    width: 100%;
    bottom: 1em;
}
button {
    display: block;
    background-color: $cyclamen;
    width: 80%;
    margin: 0 auto;
    color: $green_yellow;
}
button:hover {
    color: #BBFF33;
}