@use 'variables' as *;

:host {
  transition: all 200ms;
  color: $mint-cream;
  position: absolute;
  left: 5%;
  top: .5em;
  font-size: 2em;
  cursor: pointer;
  @include mint-cream(1, color);
}

:host:hover {
  @include mint-cream(0.7, color);
}