$space-cadet: #392f5a;
$imperial-red: #f02d3a;
$mint-cream: #eff6ee;
$cool-grey: #9197ae;
$liberty: #d81e5b;
$cyclamen: #eb6f99;
$rhythm: #23252f;
$green_yellow: #ccff66;
$text-color: #483d3f;
$onyx: #b5ffe1;
