$space-cadet: #392f5a;
$imperial-red: #f02d3a;
$mint-cream: #eff6ee;
$cool-grey: #9197ae;
$liberty: #d81e5b;
$cyclamen: #eb6f99;
$rhythm: #23252f;
$green_yellow: #ccff66;
$text-color: #483d3f;
$onyx: #b5ffe1;

$rich-black: #030301;
$eerie-black: #222222;

@mixin mint-cream($opacity, $prop) {
  #{$prop}: rgb(244, 255, 248, $opacity);
}
@mixin radical-red($opacity) {
  background-color: rgb(255, 67, 101, $opacity);
}
