@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

:host {
    font-family: 'Exo 2', cursive;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    padding: 0;
    width: 425px;
    height: 60vh;
    min-height: 500px;
    max-height: 600px;
    border-radius: 10px;
    background-color: $cool-grey;
    box-shadow: 0 10px 13px 5px $rhythm;
    header {
        user-select: none;
        color: $liberty;
        font-size: 2em;
        background-color: $mint-cream;
        width: 100%;
        text-align: center;
        padding: 0;
        border-radius: 10px 10px 0 0;
    }
    .file-input {
        &:not(.files) {
            top: 50%;
            transform: translateY(-125%);
        }
        .files-info {
            margin: .5em;
        }
        margin: .5em;
        position: relative;
        display: flex;
        justify-content: center;
        [type="file"] + label {
            transition: all .5s ease-in;
            margin-bottom: auto;
            background: $imperial-red;
            border: none;
            border-radius: 50%;
            color: #fff;
            padding: 1em .75em;
            cursor: pointer;
            display: inline-block;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            outline: none;
            font-size: 2.3em;
            line-height: 0;
            position: relative;
            transition: all 0.4s;
            &:hover {
                background-color: $liberty;
                box-shadow: 0 0 5px 3px $cyclamen;
            }
        }          
        input {
            width: 0;
            height: 0;
        }
    }
    .files {
        justify-content: flex-start;
    }
    section {
        max-height: 60%;
        overflow: auto;
        &::-webkit-scrollbar {
            width: .5em;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
            background-color: $mint-cream;
            outline: 1px solid slategrey;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #d8dfd7;
        }
        ol {
            counter-reset: files;
            file-item::before {
                counter-increment: files;
                content: counter(files) ". ";
            }
        }
    }
}
@media (max-width: 450px) {
    .container {
        width: 350px;
    }
}