<div class="container">
    <header>
        Choose files to upload
    </header>
    <ng-template #filesPresent let-files>
        <div class="file-input" [class.files]='files.length'>
            <input type="file" id="file" name="file" multiple #fileInput>
            <label tooltip="Press this for uploads" [delay]="250" [placement]="!files.length ? 'top' : 'left'"
                for="file">+</label>
            <div class="files-info" *ngIf="files.length">
                present
            </div>
        </div>
        <section *ngIf="files.length">
            <ol class="list-group list-group-numbered" #fileList>
                <file-item (fileRemoved)='removeFile($event)' [file]='file' *ngFor="let file of files">
                </file-item>
            </ol>
        </section>
        <share-button *ngIf="files.length" [files]="files"></share-button>
    </ng-template>
    <ng-container *ngTemplateOutlet="filesPresent; context: { $implicit: inputFiles$ | async }"></ng-container>
</div>